body{
    margin: 0;
    background-color: rgb(212, 190, 151);
    /*background-color: rgb(179, 155, 116); */
    height: 100vh;


}



html{
    overflow-x: hidden;
    scroll-behavior: smooth;

}
*{
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}
/*FONTES*/
h1, h4{
    font-family: "Lexend Exa", sans-serif;
    color: #fff;
}
.h1{
    color: rgb(99, 70, 27);
    animation: top_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}
p{
    font-family: "Gowun Dodum", sans-serif;
}
button, a{
    font-family: "Lexend Deca", sans-serif;
}
.menu{
    font-family: "Gowun Dodum", sans-serif;
}
i{
    font-family: "Gowun Dodum", sans-serif;
}
a{
    text-decoration: none;
}

/*CSS DA 1ª SECTION*/
.section-1{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 10%, rgba(0,0,0,0.7) 100%), url(imagens/imagem2.webp) no-repeat center center/cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;

   
    
}

/*CSS MENU*/
.menu{
    z-index: 1000;
    display: flex;
    position: fixed;
    color: #fff;
    z-index: 1000;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 70%;
    transform: translateY(-50px);
    animation: invisivel_2 2s ease forwards;
    animation-delay: 0.5s;
    
    
    
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: #000000;
    color: white;
    position: fixed;
    top: -450px;
    transition: 0.3s ease;
    padding-top: 60px;
}
.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-align:left;
    text-decoration: none;
    transition: 0.3s all ease-out;
}
.sidebar a:hover {
    background: #575757;
}

.menu-btn {
    position: fixed;
    right: 15px;
    background: #33333352;
    color: white;
    padding: 7px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
}
.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #5a432d;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: block;
}
.menu-btn:focus, .close-btn:focus {
    outline: none;
}
.show-menu {
    top: 0;
}
nav{
    display: flex;
}

#my-popover{
    top: 40px;
    left: 80vw;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 4px;
    
}

#my-popover a:hover, .div :where(a, button):hover{
    border-bottom: 1px solid #fff;
}
.branco{
    width: 50px;
    margin-left: 20px;
}
.div{
    text-align: center;
    gap: 40px;
    display: flex;
}
.div :where(a, button){
    color: #fff;
    font-size: 17px;
    text-decoration: none;

}
.div button{
    background: none;
}


/*BOTOES FIXOS*/
.button_fixed{
    position: fixed;
    right: 5px;
    bottom: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    text-align: center;    

}
.fixed_button_top{
    background-color: #775f43;
    padding: 13px 18px;
    border-radius: 100%;
    color: black;
    font-size: 20px;
    transition: 0.3s all ease-in-out;

}
.fixed_button_wpp{
    background-color: green;
    padding: 13px 18px;
    border-radius: 100%;
    color: #fff;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}
.button_fixed :where(.fixed_button_top, .fixed_button_wpp ):hover{
    transform: scale(1.1);

}

/*CSS DA ATIVIDADE*/
.atividade{
    display: flex;
    position: relative;
    top: 25%;
    gap: 36%;
    width: 100%;
    
    

}
.atividade img{
    width: 300px;
    opacity: 0;
    animation: aparecer 3s ease forwards;
    animation-delay: 0.5s;
}
.logo{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #ffffff;
    margin-top: 50px;
    margin-left: 20px;
    width: 400px;
    

    
   
}
.logo h1, .logo p{
    margin: 0;
    
}
.logo button{
    width: 100px;
}
.logo :where(hr, p){
    opacity: 0;
    transform: translateY(-30px);
    animation: invisivel_2 2s ease forwards;
    animation-delay: 1.5s;
    
}
.logo div{
    margin-top: 9px;
    display: flex;
    gap: 10px;
    opacity: 0;
    transform: translateY(-5px);
    animation: invisivel_2 2s ease forwards;
    animation-delay: 1.5s;
    
}
.logo div :where(.reservar){
 color: #fff;
 background-color:rgb(90, 67, 45) ;
 padding: 10px;
 border-radius: 20px;
 transition: 0.2s all ease-in-out;
}
.logo div :where(.falar){
    color: rgb(255, 255, 255);
    border: 1.3px solid rgb(179, 155, 116);
    padding: 10px;
    border-radius: 20px;
    transition: 0.2s all ease-in-out;
}
.logo div a:hover{
    cursor: pointer;
    background-color: rgb(179, 155, 116);
    color: #fff;

}



/*CSS DA 2ª SECTION*/

.section-2{
    display: flex;
    background-color: rgb(179, 155, 116);

    
}
.section-2 span{
    z-index: 1;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;

}
.atividade-1{
    opacity: 0;
    animation-timeline: view();
    animation: aparecer 3s ease forwards;
    animation-delay: 1.2s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 15vw;

    border-radius: 3px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.353) 10%, rgba(0,0,0,0.7) 100%), url(imagens/IMG_7006\ 2.webp) no-repeat center center/cover;
    transition: 1.2s all ease-in-out;
    cursor: pointer;
    
}
.atividade-1:hover{
   background: url(imagens/IMG_7006\ 2.webp) rgb(0, 0, 0) 200%;
   background-position: center;
   background-size: cover;

}
.atividade-1 .conteudo{
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-align: justify;

}




.section-2 :where(p, h4, i, a){
    color: #ffffff;
    text-align: left;

}
.section-2 a{
    margin-top: auto;
    text-decoration: underline;
    font-family: "Gowun Dodum", sans-serif;
}


/*CSS DA 3ª SECTION*/

.section-3{
    padding: 8px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,  rgb(179, 155, 116),rgb(212, 190, 151) );
   
    
    
}
.texto_3{
    position: relative;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    
    
}
.section-3 img{
    width: 600px;
    height: 100vh;
    border-radius: 2px;
  /*  animation: left_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%; */
    
}
.texto_3 .about_all{
    position: relative;
    width: 500px;
    color:#000000;
    text-align: justify;
    
}

.about_m{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    font-size: 15px;
    
}
.about_m p{
    font-size: 19px;
    
}
.about_m .p_primar{
    color:#363535;
    
}
.contador-section p{
    color: #fff;
    font-size: 14px;
}

/* .texto_3 :where(h1, p){
    animation: right_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    
} */
.texto_3 h1{
    color: rgb(109, 76, 35);
}

.texto_3 button{
    margin-top: 7px;
    padding: 8px 20px;
    position: relative;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    transition: 0.4s all ease-in-out;
    animation: right_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

    
}
.texto_3 button:hover{
transform: scale(1.05);
}

.contador h1{
    font-size: 22px;
  }
.contador-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #775f43;
    border-radius: 3px;
}
.contador{
    text-align: center;
    width: 100px;
}
.contador h1{
   color: #000000;
}

/*CSS DA 4ª SECTION*/
.section-4{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  
    

}

.section_fotos{
    animation: scroller linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
   display: flex;
   flex-wrap: wrap;
   gap: 13px;
   justify-content: center;
   align-items: center;
    
}
.section_fotos img{
    width: 310px;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
}
.section_fotos img:hover{
    transform: scale(1.04);
}

/*CSS DA 5ª SECTION*/
.section-5{
    padding: 10px;
    display: flex;
    gap: 10%;
    border-top: 1px solid rgba(212, 190, 151, 0.137);
    align-items: center;
    justify-content: center;
    /*background-color: #775f43; */
    
}

.texto_8{
    position: relative;
    width: 500px;
    color: #ffffff;
}
.texto_8 h1{
   color: #775f43;
}
.section-5 img{
    width: 300px;
    border-radius: 2px;
}

/*CSS DA 6ª SECTION*/
.section-6{
    background-color: #fff;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 100px;
}


.section-6 span{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.section-6 p{
    font-size: 17px;
}
.section-6 a{
    font-size: 20px;
    color: #fff;
    cursor: pointer;

}
.card_1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(imagens/assis\ \(1\).webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.card_2{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(imagens/matias\ \(1\).webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.card_3{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(imagens/mochi4.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.card_1 div, .card_2 div, .card_3 div {
    margin-top: auto;
    bottom: 0;
    background-color: #ccc9c953;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: #fff;
    text-align: left;
    padding: 10px;
}

/*CSS DA 7ª SECTION*/
.section-7{
    background-image: linear-gradient(20deg, #775f43, #775f43, rgb(202, 177, 134), rgb(212, 190, 151));
    padding-bottom: 50px;

}

.section-7 h1{
    text-align: center;
    margin-top: 100px;
    
}



.section-7 span{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    border: none;

    
}

.atividade-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: top_scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.section-7 img{
    border-radius: 3px;
    width: 300px;
}
.texto_6{
    width: 250px;
}
.texto_6 h4{
    font-family: "Lexend Exa", sans-serif;
    color: rgb(99, 70, 27);
}

.texto_6 li{
    color:#ffffff;
    font-family: "Gowun Dodum", sans-serif;
    margin: 8px;
}


/* CSS DA 8ª SECTION */
.section-8{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px;
    background-color: #ffffff;
    padding: 50px;
}
.fale_1{
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fale_1 p{
    color: #565555;
    font-size: 20px;
    text-align: justify;
}
.about_1{
    display: flex;
    gap: 3px;
}


.redes{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.redes a{
    color: #5a432d;
    font-size: 20px;
    transition: 0.3s all ease-in-out;
}
.redes a:hover{
    color: rgb(99, 97, 97);
    transform: scale(1.2);
}
.fale_2{
    background-color: #000000;
    padding: 30px 3px;
    position: relative;
    width: 500px;
    border-radius: 3px;
    
}
.fale_2 form{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fale_2 input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 200px;
    padding: 10px;
    background: none;
    color: #fff;
    
}

.fale_2 .sms{
background: none;
font-family: "Lexend Deca", sans-serif;
height: 130px;
width: 410px;
vertical-align: top;
border: none;
outline: none;
border-radius: 3px;
resize: vertical;

}

.fale_2 button{
    padding: 5px;
    width: 415px;
    border-radius: 3px;
    background-color: #5a432d;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.fale_2 button:hover{
    background-color:rgb(179, 155, 116) ;
}
fieldset{
    color: #fff;
    border-radius: 3px;
    border: 2px solid #524e4e;
}
legend{
    font-family: "Gowun Dodum", sans-serif;  
}







/*FOOTER*/
footer{
    margin-top: -1px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    color: #fff;
}
.footer_info{
    display: flex;
}
footer img{
    margin-right: auto;
    width: 200px;
}
.footer_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    color: #d4d0d0;
}

footer :where(.footer_2, .footer_3){
    border-left: 1px solid #585757;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
    margin: auto; 
}
footer a{
    color: #fff;
    font-weight: 200;
}
footer h4{
    color: #775f43;
}
.footer_4{
    padding: 7px;
    margin-top: auto;
    display: flex;
    color: #ffffff52;
}
.footer_4 i{
    margin-right: auto;
}






@keyframes invisivel_2 {
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes aparecer {
    to{
        
        opacity: 1;
    }
    
}

@keyframes top_scroll{
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes scroller{
    2%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes right_scroll{
    0%{
        opacity: 0;
        transform: translate(150px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes left_scroll{
0%{
    opacity: 0;
    transform: translate(-150px);
}
100%{
    opacity: 1;
    transform: translate(0px);
}
}

@keyframes text_luz{
    0%{
        opacity: 0;
        color: rgba(0, 0, 0, 0.13);
        
    }
    100%{
        opacity: 1;
        
        
    }
}

@media(max-width:  1024px){

    /* SECTION 1 */
    .section-1{
        height: 100vh;
       
    }
    .atividade{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        top: 15%;
        gap: 40px;
        position: relative;
        
    }
    .atividade img{
        width:50vw ;
    }
   .div{
    display: none;
   }
   .menu-btn {
    display: block;
}
    .logo{
        text-align: left;
        margin: 0;
        margin-top: 20px;
        width: 85vw;
        
       
    }
    .logo :where(p, h1){
        font-size: 30px;
    }
    .logo a{
        font-size: 18px;
    }
    /*BOTOES FIXOS*/
    .button_fixed{
        bottom: 50px;
        
    }
    

    
    /* SECTION 2 */
    .section-2{
    overflow-y: auto;
    height: 400px;
    }
    .section-2 span{
        gap: 10px;

    }
    .atividade-1{
        width: 30vw;
    
    }


    /* SECTION 3 */
    .texto_3{
        flex-direction: column;
        
        
    }
    .texto_3 img{
        height: 80vh;
        width: 80vw;
    }
    .texto_3 .about_all{
        font-size: 18px;
        margin-top: 10px;
        width: 80vw;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .texto_3 i{
        font-size: 23px;
    }
    .texto_3 .about_m{
        width: 80vw;
    }
    .contador {
        width: 30vw;
      }
      .contador h1{
        font-size: 22px;
      }
      .contador-section{
        gap: 9px;
      }
      .contador-section{
          padding: 9px;
      }


    /* SECTION 4 */
    .section-4 .ver_fotos{
        background-color: #000000;
    }
    .section_fotos img{
        width: 40vw;
    }

     /*SECTION 5*/
    .section-5{
        flex-direction: column-reverse;
        text-align: center;
    }
    .texto_8{
        width: 65vw;
        text-align: justify;
    }

     /*SECTION-6*/
    .section-6{
         border-top-right-radius: 0;
         font-size: 20px;
    }
 .card_1, .card_2, .card_3{
    width: 46vw;
    
 }
 .section-6 span{
    flex-wrap: wrap;
     height: 600px;
    overflow-y: auto;
 }

 /* SECTION 7*/
    .section-7 span{
        
        height: 600px;
        overflow-y: auto;
        gap: 9px;
    }

    /*SECTION 8 */
    .section-8{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .fale_1{
        margin: 0;
        width: 70vw;
        font-size: 18px;
    }
   .fale_2{
    margin: 0;
    width: 80vw;
    
    
   }
   .fale_2 input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 30vw;
    padding: 10px;
    background: none;
    color: #fff;
    
}

  .fale_2 .sms{
   height: 100px;
   width: 62vw;


}

.fale_2 button{
    padding: 5px;
    width: 62vw;
    border-radius: 3px;
    background-color: #5a432d;
    color: #fff;
    cursor: pointer;
}
/*FOOTER*/

    
}

@media(max-width:  480px){

    /* SECTION 1 */
    .section-1{
        height: 100vh;
       
    }
    .atividade{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        top: 15%;
        gap: 40px;
        position: relative;
        position: relative;
    }
    .atividade img{
        width: 60vw;
    }
    
   .div{
    display: none;
   }
   .menu-btn {
    display: block;
}
    .logo{
        text-align: left;
        margin: 0;
        margin-top: 20vw;
        width: 90vw;
       
    }
    .logo :where(p, h1){
        font-size: 19px;
    }
    .logo a{
        font-size: 16px;
    }
    /*BOTOES FIXOS*/
    .button_fixed{
        bottom: 50px;
        
    }
    

    
    /* SECTION 2 */
    .section-2{
    overflow-y: auto;
    height: 400px;
    }
    .section-2 span{
        gap: 7px;

    }
    .atividade-1{
        width: 45vw;
    
    }



    /* SECTION 3 */
    .texto_3{
        flex-direction: column;
    }
    .texto_3 img{
        height: 60vh;
        width: 400px;
    }
    .texto_3 .about_all{
        margin-top: 10px;
        width: 360px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        
        
    }
    .texto_3 h1{
        font-size: 23px;
    }
    
    .texto_3 .about_m{
        width: 360px;
        
        
    }
   
    
    .section_fotos{
        width: 400px;
        
    }
    .contador {
        width: 120px;
      }
      .contador h1{
        font-size: 22px;
      }
      .contador-section{
        gap: 9px;
      }
      .contador-section{
          padding: 9px;
      }

    /* SECTION 4 */
    .section-4 .ver_fotos{
        background-color: #000000;
    }
    .section_fotos img{
        width: 290px;
    }

     /*SECTION 5*/
    .section-5{
        flex-direction: column-reverse;
        text-align: center;
    }
    .texto_8{
        width: 300px;
    }

     /*SECTION-6*/
    .section-6{
         border-top-right-radius: 0;
     }
   .card_1, .card_2, .card_3{
    width: 63vw;
    
   }
   .section-6 span{
    justify-content: center;
    height: 600px;
        overflow-y: auto;
   }

  /* SECTION 7*/
    .section-7 span{
    
        height: 600px;
        overflow-y: auto;
        gap: 9px;
    }
    

    /*SECTION 8 */
    .section-8{
        margin-top: -10px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        
    }
    .fale_1{
        margin: 0;
        width: 70vw;

    }
   .fale_2{
    margin: 0;
    width: 390px;
    
    
   }
   .fale_2 input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 140px;
    padding: 10px;
    background: none;
    color: #fff;
    
}

  .fale_2 .sms{
   height: 100px;
  width: 300px;


}

.fale_2 button{
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    background-color: #5a432d;
    color: #fff;
    cursor: pointer;
}
/*footer*/
.footer_info{
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    
}
.footer_1{
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.footer_1 img{
    margin: 0;
}
footer :where(.footer_2, .footer_3){
    border-left: 0;
    margin: 0;
    text-align: left;
    border-top: 1px solid #525151;
    margin-right: auto;
    
}
.footer_4{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}
.footer_4 i{
    margin: 0;
}
   
}

@media(max-width:  375px){
   

    /* SECTION 1 */
    .section-1{
        height: 100vh;
       
    }
    .atividade{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        top: 15%;
        gap: 40px;
        position: relative;
        position: relative;
    }
    .atividade img{
        width: 64vw;
    }
    
   .div{
    display: none;
   }
   .menu-btn {
    display: block;
}
    .logo{
        text-align: left;
        margin: 0;
        margin-top: 20px;
        width: 90vw;
       
    }
    .logo :where(p, h1){
        font-size: 18px;
    }
    .logo a{
        font-size: 13px;
    }
    /*BOTOES FIXOS*/
    .button_fixed{
        bottom: 50px;
        
    }
    

    
    /* SECTION 2 */
    .section-2{
    overflow-y: auto;
    height: 400px;
    }
    .section-2 span{
        gap: 7px;

    }
    .atividade-1{
        width: 49vw;

    }



    /* SECTION 3 */
    .texto_3{
        flex-direction: column;
    }
    .texto_3 img{
        height: 60vh;
        width: 90vw;
    }
    .texto_3 .about_all{
        font-size: 12px;
        margin-top: 10px;
        width: 86vw;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: left;
    
        
        
    }
    .texto_3 h1{
        font-size: 23px;
    }
    .texto_3 .about_m{
        width: 86vw;
        
        
    }
   

    .contador {
        width: 29vw;
      }
      .contador h1{
        font-size: 22px;
      }
      .contador-section{
        gap: 9px;
      }
      .contador-section{
          padding: 9px;
      }

    /* SECTION 4 */
   

    .section-4 .ver_fotos{
        background-color: #000000;
    }
    .section_fotos img{
        width: 310px;
    }

    /*SECTION 5*/
    .section-5{
        flex-direction: column-reverse;
        text-align: center;
    }
    .texto_8{
        width: 80vw;
    }

     /*SECTION-6*/
    .section-6{
         border-top-right-radius: 0;
         font-size: 15px;
    }
 .card_1, .card_2, .card_3{
    width: 74vw;
    
 }
 .section-6 span{
    justify-content: center;
 }

  /* SECTION 7*/
    .section-7 span{
        
        height: 600px;
        overflow-y: auto;
        gap: 9px;
    }
    

    /*SECTION 8 */
    .section-8{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        
        
    }
    .fale_1{
        margin: 0;
        width: 80vw;
        font-size: 14px;

    }
   .fale_2{
    margin: 0;
    width: 98vw;
    
    
   }
   .fale_2 input{
    border-radius: 3px;
    border: none;
    outline: none;
    width: 140px;
    padding: 10px;
    background: none;
    color: #fff;
    
}

  .fale_2 .sms{
   height: 100px;
  width: 300px;


}

.fale_2 button{
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    background-color: #5a432d;
    color: #fff;
    cursor: pointer;
}
    

   


    
}





